* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
*{
  box-sizing:border-box;
}
body{
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
  font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Jhenghei", sans-serif;
}
.panel{
  color:rgb(51, 51, 51);
  font-weight:100;
}
.logo path{
  pointer-events:none;
  fill:none;
  stroke-linecap:round;
  stroke-width:7;
  stroke:rgb(255, 255, 255);
}
.description{
  text-align:center;
  font-size:1em;
  font-weight:500;
  line-height:1.8rem;
  margin-bottom:1rem;
  position:relative;
}
.wechat-group{
  text-align:center;
  padding-bottom:10px;
}
.wechat-group img{
  max-width:220px;
  height:auto;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  border-bottom-right-radius:8px;
  border-bottom-left-radius:8px;
  margin-top:0px;
  margin-right:auto;
  margin-bottom:0px;
  margin-left:auto;
  width:100%;
}
.welcome-img img{
  width:100%;
}
.bg-gradient-primary{
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  border-bottom-right-radius:8px;
  border-bottom-left-radius:8px;
}
.display-1.mb-4{
  text-align:center;
  font-family:Microsoft Yahei;
  font-style:italic;
  position:relative;
}
.lead.fs-24.lh-sm.px-md-5.px-xl-15.px-xxl-10.mb-7{
  font-family:Microsoft Yahei;
  text-align:center;
  position:relative;
}
.btn.btn-lg.btn-primary.rounded-pill.mx-1{
  font-family:Microsoft Yahei;
  background-image:none;
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  width:150px;
  height:60px;
}
.wrapper.bg-gradient-primary{
  background-image:url('https://raw.githubusercontent.com/longlonger2022/Disk-Squeezer/8cb5015b5934fb1820e9d4e4ce601b9c63d92bc4/photo.png');
  background-attachment:scroll;
  background-size:cover;
  height:1000px;
  background-color:#000000;
}
.img-fluid{
  width:321px;
  height:341.32999389648444px;
}
.wechat-group.pb-12{
  color:#ff0000;
  height:100px;
}
.container.pt-14.pb-8{
  width:364px;
  height:200px;
  position:relative;
}
.btn.btn-lg.btn-primary.rounded-pill{
  background-image:url('https://raw.githubusercontent.com/tandpfun/skill-icons/main/icons/Github-Dark.svg');
  background-position:center center;
  background-size:cover;
  height:100px;
  width:100px;
}
.btn.btn-lg.btn-primary.rounded-pill.mx-2{
  color:#0020ff;
  position:relative;
}
.btn.btn-lg.btn-primary.rounded-pill.mx-3{
  background-image:url('https://hbimg.huaban.com/f835ec841133081c190196d2f2ce40fa16fd130d8cb2-lYCnGK');
  color:#00beff;
  position:relative;
}
.btn.btn-lg.btn-primary.rounded-pill.mx-4{
  background-image:url('https://gd-hbimg.huaban.com/7bc42fce3f2eac8ecdada9c926eb76907a95d00283b8-6djxSP');
  color:#a100ff;
  position:relative;
}
.btn.btn-lg.btn-primary.rounded-pill.mx-5{
  background-image:url('https://gd-hbimg.huaban.com/4665ecd132e1ee39f4e54e41c0a4777d1cecdcd18edc-CH0cpt');
  color:#fff200;
  position:relative;
}
